<div class="form-wrapper" novalidate>

  <h2 class="form-wrapper__title">Login</h2>

  <form [formGroup]="loginForm">

    <div class="input-group">
        <div class="input-wrapper mr-25">
            <mat-form-field [ngClass]="{'input-error': (isSubmitted && loginForm.get('userName')?.invalid)}" appearance="fill">
                <mat-label>User name</mat-label>
                <input formControlName="userName" matInput type="text" />
            </mat-form-field>
            <span *ngIf="isSubmitted && loginForm.get('userName')?.invalid" class="error">Field required</span>
        </div>

        <div class="input-wrapper ml-25">
            <mat-form-field [ngClass]="{'input-error': (isSubmitted && loginForm.get('password')?.invalid)}" appearance="fill">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" />
            </mat-form-field>
            <span *ngIf="isSubmitted && loginForm.get('password')?.value === ''" class="error">Field required -</span><br>
            <span *ngIf="isSubmitted && loginForm.get('password')?.value !== '' && loginForm.get('password')?.invalid" class="error errorPswLength">Minimum 5 characters</span>
        </div>
    </div>

    <span *ngIf="noProfileFound" class="form-wrapper__error">User name or password is invalid</span>

    <div class="form-wrapper__cta">
      <button (click)="onLogin()" class="btn btn--primary"
      type="button">
        Login
      </button>
    </div>

    <a class="form-wrapper__link" href="" routerLink="/account/signup">New User? Click to signup!!</a>

  </form>

</div>
