.form-wrapper {
    border-radius: 4px;
    box-shadow: $primary-box-shadow;
    padding: 25px 50px;

    &__title {
      font-family: $font-primary-bold !important;
      font-size: $font-size-lg !important;
      text-align: center;
      margin-bottom: 25px !important;
    }

    &__error {
      color: red;
    }

    &__cta {
      text-align: center;
      margin-bottom: 10px;
    }

}
