//colors
$primary-color: #3f51b5;
$white-color: #ffffff;
$warning-color: #DD0000;

//box-shadow
$primary-box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;

//fonts
$font-primary-regular: 'nunito';
$font-primary-medium: 'nunito medium';
$font-primary-bold: 'nunito bold';

//font-size
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

//Transitions
$general-transition: all 300ms ease;
